frontend/src/views/BD_NW_7.0_Presentation_7.50_Comp._1_/PRES1/GUI/WINDOWS/WIN32/VE/Viewer/x86/Schemas/SandboxTask.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
    id="SAP_VE_CAD_Sandbox_Task"
    attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.sap.com/VE/Sandbox/2015/March"
    targetNamespace="http://schemas.sap.com/VE/Sandbox/2015/March"
>
  <xs:include schemaLocation="SandboxCommon.xsd"/>
  
  <!-- Task element contains one and only one Configuration element and one and only one Commands (group) element -->
  <!-- Child elements can appear in any order -->
  <xs:complexType name="Task">
    <xs:all>
      <xs:element name="Setup" type="Setup"/>
      <xs:element name="Commands" type="Commands"/>
    </xs:all>
  </xs:complexType>

  <!-- Child elements can appear in any order -->
  <xs:complexType name="Setup">
    <xs:all>
      <xs:element name="ProductInformation" type="ProductInformation" />
      <xs:element name="RegRoot" type="RegRoot" minOccurs="0" />
      <xs:element name="Outputs" type="Outputs" minOccurs="0" />
      <xs:element name="Modules" type="Modules" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <!-- Context dump is optional. Some products/comopnents (e.g VEConverter) do not use it -->
  <!-- At the moment context dump should not be validated (it can contain anything) -->
  <!-- TODO: Somehow regulate context dump, it should have a separate schema -->
  <xs:complexType name="RegRoot">
    <xs:sequence>
      <xs:any maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
    <!-- Used in VEG and ConsoleTester -->
    <xs:attribute name="Name" type="xs:nonNegativeInteger" use="optional"/>
  </xs:complexType>

  <!-- Product information is mandatory -->
  <!-- TODO: Add enumeration of product IDs -->
  <!-- TODO: Registration status code is messy, nobody seems to know what values (and their combinations) are allowed -->
  <xs:complexType name="ProductInformation">
    <xs:attribute name="ProductCulture" type="Name" use="required"/>
    <xs:attribute name="ProductGuid" type="Guid" use="required"/>
    <xs:attribute name="ProductName" type="Name" use="required"/>
    <xs:attribute name="ProductPluginsRoot" type="xs:string" use="required"/>
    <xs:attribute name="ProductRegistrationStatus" type="xs:integer" use="required"/>
  </xs:complexType>

  <!-- Module list is optional. Some products/comopnents (e.g VEConverter) do not provide it by default 
       (a subcompoennt, called VETask will fill in this list, however, by analyzing the Commands in the Task Message first) -->
  <xs:complexType name="Modules">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="File" type="File" />
    </xs:sequence>
  </xs:complexType>

  <!-- Output folder is mandatory -->
  <!-- Output folder is restricted to exactly one location for now -->
  <xs:complexType name="Outputs">
    <xs:sequence>
      <xs:element name="Folder" type="Folder"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Commands group can contain an arbitrary sequence of Open/SaveAs and InvokeMethod commands. There should be at least one command. Although not every combination of commands is valid, the order (and number of occurences) is not restricted. -->
  <!-- Note that, BOMFactory and solid tessellation use InvokeMethodCommand -->
  <xs:complexType name="Commands">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="Open" type="OpenCommand"/>
      <xs:element name="OpenAs" type="OpenAsCommand"/>
      <xs:element name="SaveAs" type="SaveAsCommand"/>
      <xs:element name="InvokeMethod" type="InvokeMethodCommand"/>
    </xs:choice>
  </xs:complexType>

  <!-- Base for all Command elements -->
  <xs:complexType name="Command">
    <xs:attribute name="Id" type="Id" use="required"/>
  </xs:complexType>

  <xs:complexType name="FileCommand">
    <xs:complexContent>
      <xs:extension base="Command">
        <xs:all>
          <xs:element name="File" type="File" />
      	  <xs:element name="Options" type="Options" minOccurs="0" />
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FileAsCommand">
    <xs:complexContent>
      <xs:extension base="FileCommand">
        <xs:attribute name="Guid" type="Guid" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OpenCommand">
    <xs:complexContent>
      <xs:extension base="FileCommand"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OpenAsCommand">
    <xs:complexContent>
      <xs:extension base="FileAsCommand"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SaveAsCommand">
    <xs:complexContent>
      <xs:extension base="FileAsCommand"/>
    </xs:complexContent>
  </xs:complexType>

  <!-- Return type and parameters can be missing (for void return type and empty parameter list) -->
  <xs:complexType name="InvokeMethodCommand">
    <xs:complexContent>
      <xs:extension base="Command">
        <xs:all>
          <xs:element name="ReturnType" type="ReturnType" minOccurs="0" />
          <xs:element name="Parameters" type="Parameters" minOccurs="0" />
        </xs:all>
        <xs:attribute name="ExtensionName" type="Name" use="required"/>
        <xs:attribute name="MethodId" type="Id" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
