frontend/src/views/BD_NW_7.0_Presentation_7.50_Comp._1_/PRES1/GUI/WINDOWS/WIN32/VE/Viewer/x86/Schemas/SandboxConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
    id="SAP_VE_CAD_Sandbox_Configuration"
    attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.sap.com/VE/Sandbox/2015/March"
    targetNamespace="http://schemas.sap.com/VE/Sandbox/2015/March"
>
  <xs:include schemaLocation="SandboxCommon.xsd"/>
  <xs:include schemaLocation="SandboxPolicy.xsd"/>
  <xs:include schemaLocation="SandboxTask.xsd"/>

  <!-- Configuration root element may contain one Policy and one Setup child element element -->
  <!-- The content of Policy will be merged (along with other rules) into the session policy,
       the content of Setup will be merged with other prerequisites into the task -->
  <xs:element name="Configuration">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="Envelope"> 
          <xs:sequence>
            <xs:element name="Policy" type="Policy" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Setup" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                  <xs:element name="Modules" type="Modules"/>
                </xs:sequence>
                <xs:attribute name="Type" type="SetupType" use="optional"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="SetupType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="plugin"/>
      <xs:enumeration value="application"/>
      <xs:enumeration value="session"/>
      <xs:enumeration value="global"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
