frontend/src/views/BD_NW_7.0_Presentation_7.50_Comp._1_/PRES1/GUI/WINDOWS/WIN32/VE/Viewer/x86/Schemas/SandboxResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
    id="SAP_VE_CAD_Sandbox_Response"
    attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.sap.com/VE/Sandbox/2015/March"
    targetNamespace="http://schemas.sap.com/VE/Sandbox/2015/March"
>
  <xs:include schemaLocation="SandboxCommon.xsd"/>

  <xs:simpleType name="MessageStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="pending"/>
      <xs:enumeration value="success"/>
      <xs:enumeration value="error"/>
      <xs:enumeration value="aborted"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MessageSeverity">
    <xs:restriction base="xs:string">
      <xs:enumeration value="verbose"/>
      <xs:enumeration value="info"/>
      <xs:enumeration value="warning"/>
      <xs:enumeration value="error"/>
      <xs:enumeration value="fatal"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MessageCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="diagnostic"/>
      <xs:enumeration value="client"/>
      <xs:enumeration value="status"/>
      <xs:enumeration value="interactive"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Response element shall contain one and only one Events (group) child element -->
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element name="Events" type="Events"/>      
    </xs:sequence>
    <xs:attribute name="FailureReason" type="xs:string" use="optional" />
    <xs:attribute name="Status" type="MessageStatus" use="required" />
  </xs:complexType>

  <!-- Events (group) element can contain any number of MessageReportEvent child elements and, if there is any, then exactly one, optional trailing ExceptionEvent element (and can be empty too) -->
  <xs:complexType name="Events">
    <xs:sequence>
      <xs:element name="MessageReportEvent" type="MessageReportEvent" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="ExceptionEvent" type="ExceptionEvent" minOccurs="0" />
    </xs:sequence>    
  </xs:complexType>

  <!-- Base for all Event elements -->
  <xs:complexType name="Event">
    <xs:attribute name="SourceId" type="Id" use="optional" default="0"/>
    <xs:attribute name="TimeStamp" type="TimeStamp" use="required"/>
  </xs:complexType>

  <!-- MessageReportEvent element can contain one optional MessageReportContext child element -->
  <!-- Can message text be empty? -->
  <xs:complexType name="MessageReportEvent">
    <xs:complexContent>
      <xs:extension base="Event">
        <xs:sequence minOccurs="0">
          <xs:element name="MessageReportContext" type="MessageReportContext"/>
        </xs:sequence>
        <xs:attribute name="Category" type="MessageCategory" use="optional" default="diagnostic"/>
        <xs:attribute name="Id" type="Id" use="required"/>
        <xs:attribute name="Message" type="xs:string" use="required"/>
        <xs:attribute name="ParentId" type="Id" use="optional" default="0"/>
        <xs:attribute name="Severity" type="MessageSeverity" use="optional" default="verbose"/>
        <xs:attribute name="UserDataPayload" type="xs:string" use="optional" default=""/>
        <xs:attribute name="UserDataId" type="Id" use="optional" default="0"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- MessageReportContext element can contain one optional Parameters child (group) element -->
  <!-- both ContextName and Format arguents must be provided -->
  <xs:complexType name="MessageReportContext">
    <xs:sequence minOccurs="0">
      <xs:element name="Parameters" type="Parameters"/>
    </xs:sequence>
    <xs:attribute name="ContextName" type="Name" use="required"/>
    <xs:attribute name="Format" type="String" use="required"/>
  </xs:complexType>

  <!-- ExceptionEvent element can contain one optional Parameters child (group) element and one optional nested ExceptionEvent child element -->
  <!-- Order of Parameters and nested ExceptionEvent child elements does not matter -->
  <!-- TODO: Add ExceptionType enumeration -->
  <xs:complexType name="ExceptionEvent">
    <xs:complexContent>
      <xs:extension base="Event">
        <xs:all>
          <xs:element name="ExceptionEvent" type="ExceptionEvent" minOccurs="0" />
          <xs:element name="Parameters" type="Parameters" minOccurs="0" />
        </xs:all>
        <xs:attribute name="Type" type="Name" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
